.bkg {
    position: absolute;
    backdrop-filter: blur(16px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bkg_img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.filter {
    position: absolute;
    backdrop-filter: blur(16px);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}

.container {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 70vh;
    width: 70vw;
    background-color: #ffffff25;
    z-index: 2;
    margin: 15vh 15vw;
}








.loading_screen {
    width: 100vw;
    height: 100%;
    background-color: #6A516A;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.loading_img {
    position: absolute;
    padding: 0 20rem;
    width: 65vw;
    height: 100%;
    z-index: 2;
}