.body {
    background-color: #FEFAE0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 1rem 0;
    row-gap: 0.5rem;
}

.show_filters_button {
    top: 9.5vh;
    position: absolute;
    align-self: flex-start;
    margin-left: 1rem;
    padding: 0.5rem 0.75rem 0.2rem 0.75rem;
    background-color: transparent;
    border: none;
    font-size: 1.35rem;
    color: #D4A373;
    cursor: pointer;
    transition: 300ms;
}

.show_filters_button:hover {
    background-color: #E9EDC9;
    border-radius: 9999px;
}

.filters_container {
    position: absolute;
    margin-left: 4rem;
    top: 10vh;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.title {
    top: 2rem;
    position: absolute;
    color:#D4A373;
    font-family: 'Chicle', cursive;
    letter-spacing: 2px;
    font-size: 4rem;
    padding: 5px 20px;
    border: 1px solid #FAEDCD;
    border-radius: 5px;
    background-color: #FEFAE0;
}

.cards {  
    display: grid;
    grid-template-columns: 4em 1fr 1fr 1fr 1fr 4em;
    grid-template-rows: 1fr 1fr;
    gap: 1em 0;
    grid-auto-flow: row;
    grid-template-areas:
    "prev . . . . next"
    "prev . . . . next";
    height:80%;
    align-items: center;
    justify-content: center;
}

.prev, .prev_empty {
    grid-area: prev;
}

.next, .next_empty {
    grid-area: next;
}

.prev, .next {
    background: none;
    border: none;
    font-size: 1.35rem;
    color: #D4A373;
    cursor: pointer;
    transition: 300ms;
    padding: 10rem 0;
}

.prev:hover, .next:hover {
    background-color: #E9EDC9;
    border-radius: 0.3rem;
}

.paginado_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current_page {
    margin: 0;
}

.cards img {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
}

  